<!DOCTYPE html>
<html lang="en">

<%- include('../components/header.ejs', {title:'Home - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('../components/navbar.ejs', {user: user}) %>

<div class="container" style="width:70%; margin: auto">
    <br/>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Data modification request</h4>
        <p>To modify data submitted by you, please enter researcher's name.</p>
    </div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">First name</label>
            <input class="form-control" type="text" placeholder="Enter first name">
            <small id="emailHelp" class="form-text text-muted">Please, enter correct names in each form to ensure that you receive correct submissions</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last name</label>
            <input class="form-control" type="text" placeholder="Enter last name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
        <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Submission №</th>
            <th scope="col">Submission ID</th>
            <th scope="col">Embargo</th>
            <th scope="col">E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button type="button" class="btn btn-success">Modify</button></td>


        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button type="button" class="btn btn-success">Modify</button></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button type="button" class="btn btn-success">Modify</button></td>
        </tr>
        </tbody>
    </table>
</div>


<%- include ../components/scripts.ejs %>

</body>
</html>