<!DOCTYPE html>
<html lang="en">

<%- include('../components/header.ejs', {title:'Home - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('../components/navbar.ejs', {user: user}) %>

<div class="container" style="width:70%; margin: auto">
    success
</div>


<%- include ../components/scripts.ejs %>

</body>
</html>