<header style="width: 70%; margin: auto">
    <ul class="head justify-content-end" style="width: 100%">
        <div>
            <h1 style="font-family: 'Book Antiqua'; text-align: right;margin-right: 5%; margin-top:2%">NATURE'S PALETTE</h1>
        </div>
    </ul>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search/searchPanel.html">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/modify/modifyPanel.html">Modify Submissions</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/upload/instruction.html">Upload Files</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (user) { %>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= user.email %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <!-- TODO: Show this term iff the user has such privilege. -->
                                <a class="dropdown-item" href="/addTerm/addPanel.html">Manage Search Term</a>
                                <a class="dropdown-item" href="/about.html">About</a>
                                <a class="dropdown-item" href="/help.html">Help</a>
                                <div class="dropdown-divider"></div>
                                <a id="logout-btn" class="dropdown-item" href="#">Logout</a>
                                <script defer>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        document.getElementById('logout-btn').addEventListener('click', async e => {
                                            e.preventDefault();

                                            await fetch('/token.html', {
                                                method: 'DELETE'
                                            });

                                            if (window.location.href.pathname === '/') {
                                                window.location.reload();
                                            } else {
                                                window.location.href = '/';
                                            }
                                        });
                                    })
                                </script>
                            </div>
                        </div>
                    </li>

                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/token.html">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/register.html">Register</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>
