<!DOCTYPE html>
<html>

<%- include('components/header.ejs', {title:'Upload - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('components/navbar.ejs', {user: user}) %>
<div class="container" style="width: 50%;margin: auto">
    <div class="card" style="text-align: center">
    <div class="jumbotron">
        <h5 class="font-weight-bold mb-3">Submission Instruction: Welcome to Nature's Palette!</h5>
        <p class="lead">You have probably already edited blogs or social media sites. You have made edits that improved existing articles and now
            you want to start a new article from scratch. Now, if you have not done any Wikipedia editing, you cannot directly make a new article
            in mainspace. This permission is only for autoconfirmed users, which means those whose accounts are more than four days old and who have
            done at least ten edits. Non-confirmed users and non-registered users can submit a proposed article through the Articles for Creation
            process, where it will eventually be reviewed and considered for publication.</p>
        <hr class="font-weight-bold mb-3">

        <p class="font-weight-bold mb-3" style="text-align: center">If you agree with this submission instruction, you can press this button to start.</p>
        <a class="btn btn-secondary btn-lg" href="/upload.html/submission" role="button">START</a>
    </div>
    </div>
</div>

<%- include components/scripts.ejs %>

</body>
</html>
