<!DOCTYPE html>
<html>

<%- include('components/header.ejs', {title:'Home - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('components/navbar.ejs', {user: user}) %>

<div class="container">
    <div class="py-5 text-center">
        <img
            class="d-block mx-auto mb-4"
            src="/images/logo.png"
            alt=""
            width="72"
            height="72">

        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Input sp" aria-describedby="button-addon1">
            <div class="input-group-append">
                <button
                    class="btn btn-primary"
                    type="button"
                    id="search-button">Search</button>
            </div>
        </div>
    </div>
</div>

<%- include components/scripts.ejs %>

</body>
</html>
