<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body class="bg-light">

<header>
    <nav class="navbar navbar-expand-lg wnavbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload.html">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/token.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register.html">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <form method="post">
        <br><br><br>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="success" style="visibility:hidden">
            <strong>failure!</strong> Invalid email address or password
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<script>
    document.forms[0].onsubmit = async(e) => {
        e.preventDefault();
        const url = '/token.html';
        const params = new URLSearchParams([...new FormData(e.target).entries()]);
        console.log(params);
        try {
            const response = await fetch(url, {
                method: 'POST', // or 'PUT'
                body: params
            });
            const json = await response.json();
            console.log('Success:', JSON.stringify(json));
            if(response.status === 201) {
                window.localStorage.setItem('token', JSON.stringify(json))
            }else if(response.status === 403) {
                $('.alert').alert()
                document.getElementById("success").style.visibility = "visible"
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
</body>
</html>