<!DOCTYPE html>
<html>

<%- include('components/header.ejs', {title:'Register - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('components/navbar.ejs', {user: user}) %>

<div class="container" style="width:70%; margin: auto">
    <form id="register-form" method="post">
        <br><br><br>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="success" style="visibility:hidden">
            <strong>Success!</strong> You are a registered user now, you can login.
            <button type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                    onclick="window.location.href = '/'">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>

        <div class="g-recaptcha"
             data-size="invisible"
             data-callback="doSubmit"
             data-sitekey="<%- config.recaptcha.siteKey%>"></div>
    </form>
    </form>
</div>

<%- include components/scripts.ejs %>

<script src="https://www.google.com/recaptcha/api.js?onload=onReCAPTCHALoaded" async defer></script>
<script>
    document.getElementById('register-form').onsubmit = function (e) {
        e.preventDefault();
        grecaptcha.execute();
    }

    async function doSubmit(token) {
        const url = '/register.html';
        const params = new URLSearchParams([...new FormData(document.forms[0]).entries()]);
        console.log(params);
        try {
            const response = await fetch(url, {
                method: 'POST',
                body: params,
                headers: {
                    'X-reCAPTCHA-Token': token
                }
            });
            const json = await response.json();

            if(json.code === 1) {
                $('.alert').alert()
                document.getElementById("success").style.visibility = "visible"
            }
        } catch (error) {
            console.error('Error:', error);
        } finally {
            grecaptcha.reset();
        }
    }
</script>

</body>
</html>