<!DOCTYPE html>
<html>

<%- include('components/header.ejs', {title:'Register - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('components/navbar.ejs', {user: user}) %>

<div class="container" style="width:50%; margin: auto">
    <form method="post">
        <br><br><br>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="success" style="visibility:hidden">
            <strong>Success!</strong> You are a registered user now, you can login.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="toHomepage()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<script>
    document.forms[0].onsubmit = async(e) => {
        e.preventDefault();
        const url = '/register.html';
        const params = new URLSearchParams([...new FormData(e.target).entries()]);
        console.log(params);
        try {
            const response = await fetch(url, {
                method: 'POST', // or 'PUT'
                body: params
            });
            const json = await response.json();
            console.log('Success:', JSON.stringify(json));
            if(json.code === 1) {
                $('.alert').alert()
                document.getElementById("success").style.visibility = "visible"
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function toHomepage() {
        location.href = '/'
    }
</script>

<%- include components/scripts.ejs %>

</body>
</html>