<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body class="bg-light">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/upload.html">Upload</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="py-5 text-center">
        <form method="post" action="/register.html" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload</label>
                <input type="file" name="upload" class="form-control-file" id="exampleFormControlFile1">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="description-input">Description</label>
                    </div>
                    <input id="description-input" class="form-control" type="text" name="description">
                </div>
            </div>
            <input type="submit">
        </form>

        <h5>Uploaded files</h5>

        <table id="file-list" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File Name</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', async () => {
        let res = await fetch('/fileList.json');
        res = await res.json();

        let tbody = document.querySelector('#file-list>tbody');

        res.forEach((row, i) => {
            let tr = document.createElement('tr');

            let rowNum =  document.createElement('td');
            let filename = document.createElement('td');
            let description = document.createElement('td');

            rowNum.innerText = i + 1;
            filename.innerText = row.filename;
            description.innerText = row.description;

            tr.appendChild(rowNum);
            tr.appendChild(filename);
            tr.appendChild(description);

            tbody.appendChild(tr);
        });
    });
</script>

<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
</body>
</html>
