<!DOCTYPE html>
<html>

<%- include('components/header.ejs', {title:'Upload - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('components/navbar.ejs', {user: user}) %>

<div class="container">
    <div class="py-5 text-center">
        <form method="post" action="/register.html" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload</label>
                <input type="file" name="upload" class="form-control-file" id="exampleFormControlFile1">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="description-input">Description</label>
                    </div>
                    <input id="description-input" class="form-control" type="text" name="description">
                </div>
            </div>
            <input type="submit">
        </form>

        <h5>Uploaded files</h5>

        <table id="file-list" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File Name</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', async () => {
        let res = await fetch('/fileList.json');
        res = await res.json();

        let tbody = document.querySelector('#file-list>tbody');

        res.forEach((row, i) => {
            let tr = document.createElement('tr');

            let rowNum =  document.createElement('td');
            let filename = document.createElement('td');
            let description = document.createElement('td');

            rowNum.innerText = i + 1;
            filename.innerText = row.filename;
            description.innerText = row.description;

            tr.appendChild(rowNum);
            tr.appendChild(filename);
            tr.appendChild(description);

            tbody.appendChild(tr);
        });
    });
</script>

<%- include components/scripts.ejs %>

</body>
</html>
